 html, body {
  margin: 0;
  padding: 0;
 /*font-family: 'Dancing Script', cursive;*/
 
 font-family: 'Kdam Thmor', cursive;
 }
 a {
  text-decoration: none;
 }
 img {
  max-width: 100%;
  height: auto;
 }
 .page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
 }
 .main-menu{
  flex-grow: 1;
 }
 .main-menu-list {
list-style: none;
padding: 0;
display: flex;
justify-content: space-around;
 }
 .main-menu-list a {
  font-size: 30px;
  line-height: 41px;
  color: #2a3D8F;
 }
 .main-menu-list a:hover {
  color: #3893cc;
}
.page-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 35px 0;
  color: #000000;
  width: 1200px;
  margin: 0 15px;
}
.hashtag {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400; }
.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.social-button {
  margin: 0 10px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.footer-wrapper {
background-color:  #B5D4C5;
} 
h2 {
  color: #2A3D8F;
  font-size: 36px;
  line-height: 49px;
}
h3 {
  font-size: 30px;
  line-height: 40px;
}
.slogan {
  height: 558px;
  background-image: 'url(img/innsbruck1.png)';
  background-color: #dbe8f7;
  background-repeat: no-repeat;
  background-size: cover;
}
.slogan h1 {
  margin: 0;
  padding-top: 240px;
  font-size: 60px;
  line-height: 80px;
  color: #ffffff;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.about-numbers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
}
.about-numbers-list li::before {
  content: "✓";
  margin-right: 3px; 
}
.marketing {
  display: flex;
  flex-direction: column;
  background-image: 'url(img/skier.png)';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  width: 30%;
}
.marketing p {
  margin: 0;
  padding: 5px;
  text-transform: uppercase;
  font-size: 2vw;
  line-height: 33px;
}
.marketing a {
  margin-top: 60px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  opacity: 0.7;
  align-self: flex-end;
  color: #000000;
}
.about-weather-graph {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.about-weather-graph figcaption {
  font-size: 22px;
  line-height: 33px;
  background-color: rgb(124, 124, 124);
  color: #fff;
  padding: 5px;
  text-align: center;
}
.gallery-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  align-items: center;
  min-height: 256px;
  text-align: center;
  color: #ffffff;
  background-color: #B5D4C5;
}
.gallery-item h3 {
  text-transform: uppercase;
  flex-grow: 1;
}
